repos:
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        exclude: ^tests/
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        exclude: ^tests/
      - id: radon-cc
        name: radon cyclomatic complexity
        entry: radon cc -nc -a -s refrakt_xai/
        language: system
        pass_filenames: false
        exclude: ^tests/
      - id: lizard
        name: lizard complexity
        entry: lizard -C 10 refrakt_xai/
        language: system
        pass_filenames: false
        exclude: ^tests/
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
        exclude: ^tests/
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        exclude: ^tests/ 